.reviews{
    margin-bottom: 88px;
}

.reviews__list{
    column-count: 2;
    column-gap: 27px;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 90px;
}

.reviews__item{
    display: inline-flex;
    flex-direction: column;
    background: #F4F5F5;
    border-right: 5px;
    padding: 50px 30px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.reviews__user{
    display: flex;
    margin-bottom: 27px;
}

.reviews__user-avatar{
    width: 142px;
    height: 142px;
    margin-right: 21px;
    flex-shrink: 0;
}

.reviews__user-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__user-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

.reviews__user-link{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-right: 7px;
    margin-bottom: 5px;
}

.reviews__user-icon{
    width: 30px;
    height: 30px;
}

.reviews__icon{
    width: 100%;
    height: 100%;
}


.reviews__user-link:hover{
    color: #2E77A4;
    text-decoration: underline;
}

.reviews__title{
    font-size: 30px;
    margin-bottom: 13px;
    letter-spacing: 1px;
}

.reviews__context{
    display: flex;
    flex-direction: column;
}

.reviews__text{
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.65;
}

/*=================================================================================*/

.choice__tour{
    display: block;
    background: #E7E7E7;
    border-radius: 35px;
    padding: 10px 14px;
}

.choice__button{
    display: block;
}

.choice__input{
    display: none;
}

.choice__tour--color--green, .choice__input:checked ~ .choice__tour{
    background: #B9EAE4;
}

.choice{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.choice__list{
    display: flex;
    flex-wrap: wrap;
}
.choice__item{
    margin-right: 10px;
    margin-bottom: 10px;
}

.choice__item:nth-child(n + 6){
    margin-bottom: 0;
}

.choice__item:last-child{
    margin-right: auto;
    margin-bottom: 0;
}

/*============================== Постер ===================================*/
.poster{
    width: 100%;
    background: url("../../image/Rectangle.png") center / cover no-repeat;
}

.poster__content{
    position: relative;
    padding: 113px 0;
}

.poster__title{
    font-size: 48px;
    color: #fff;
    max-width: 545px;
}

.poster__pic{
    position: absolute;
    bottom: 0;
    right: 0;
}

/*=================================================================================*/
.survey{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.survey__question{
    width: 42%;
    margin-right: 73px;
    font-size: 18px;
}

/*==================================================================================*/
.form{
    background: #F4F5F5;
    padding-top: 62px;
    padding-bottom: 96px;
}

.form__title{
    font-size: 48px;
    margin-bottom: 57px;
}

.form__field-data{
    display: flex;
    margin-bottom: 26px;
}

.form__input{
    flex: 1;
    margin-right: 28px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    padding: 18px 30px;
    color: #1A1B1E;
}

.form__input:focus{
    outline: none;
    border: 1px solid red;
}

.form__input:last-child{
    margin-right: 0;
}

.form__input::placeholder{
   color: #666666;
}

.form__input--textarea{
    height: 235px;
    resize: none;
}

/*==================================================*/

.form__button{
    text-align: right;
}

.form__btn{
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
}

.btn-reset{
    background: #8E8E8E;
    margin-right: 18px;
    transition: background .5s;
}

.btn-reset:hover{
    background: #2B2B2B;
}

.btn-send{
    background: #F5170E;
}
