.footer{
    position: relative;
    height: 146px;
}

.footer__logo{
    position: absolute;
    top: 0;
}

.footer .menu{
    display: inline-block;
    position: absolute;
    top:17px ;
    left: 166px;
}

.social-list{
    position: absolute;
    top: 4px;
    left: 704px;
}

.social-list__item{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.social-list__item:last-child{
    margin-right: 0;
}

.footer__contacts{
    font-size: 26px;
    line-height: 20px;
}

.contacts__work-hours{
    color: #9A9A9A;
    font-size: 11px;
    line-height: 20px;
    font-weight: normal;
}