.header-main{
    margin-bottom: 114px;
}
.dropdown{
    justify-content: flex-end;
    position: relative;
    color: #98A4A8;
    font-size: 13px;
    line-height: 20px;
    text-decoration: underline;
    margin-top: -3px;
}

.dropdown__link{
    display: inline-flex;
}

.dropdown__link:hover{
    color: #fff;
}

.dropdown__link:hover .dropdown__menu{
    right: 0;
    opacity: 1;
}
.dropdown__menu{
    position: absolute;
    top: 100%;
    right: -99999px;
    height: 80px;
    width: 160px;
    background: url("/image/Прямоугольник, скругл. углы 9.png")center center no-repeat;
    padding: 22px 19px;
    color: #000;
    opacity: 0;
    transition: opacity .4s;
}

.dropdown__item{
    text-align: left;
    font-size: 13px;
    line-height: 1.61;
    font-weight: bold;
}
.dropdown__item:last-child{
    font-weight: 600;
}