.header-main{
    margin-bottom: 114px;
}
.contacts__schedule{
    color: #98A4A8;
    font-size: 13px;
    line-height: 20px;
    text-decoration: underline;
    margin-top: -3px;
}

.contacts__schedule:hover{
    color: inherit;
}