
.tour-image{
    margin-bottom: 245px;
}

.tour-image__title{
    margin-bottom: 20px;
    display: block;
    font-size: 72px;
    font-style: normal;
    font-weight: bold;
    width: 511px;
}

.tour-image__caption{
    font-size: 18px;
    margin-bottom: 30px;
}


/*===================== Горящие туры ============================*/

.hot-tours{
 margin-bottom: 125px;
}

.hot-tour__list{
    display: flex;
    justify-content: space-between;
}

.hot-tours__title-box{
    display: flex;
    margin-bottom: 50px;
    align-items: baseline;
}

.hot-tours__title{
    font-size: 36px;
}

.tours-title__icon{
    margin-left: 12px;
    width: 21px;
    height: 28px;
}

.country{
    border-radius: 5px;
    width: 362px;
    min-height: 440px;
    background: white;
}

.country__cover{
    height: 144px;
    width: 100%;
}

.country__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.country__content{
    padding: 38px 16px 26px 23px;
}

.country__title{
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin-bottom: 21px;
}

.country__features{
    margin-bottom: 20px;
    padding: 0;
}

.country__features-item{
    display: inline-flex;
    margin-right: 44px;
}

.country__features-item:nth-child(2){
    margin-right: 0;
}

.country__pic-feature{
    display: flex;
    align-items: center;
}

.country__img-feature{
    margin-right: 10px;
    width: 26px;
    height: 26px;
}

.country__feature-text{
    color: #666666;
    font-size: 16px;
}

.country__text{
    margin-bottom: 25px;
    color: #303030;
}

.btn{
    display: block;
    padding: 18px 30px 18px 30px;
    border: 1px solid #F5170E;
    box-sizing: border-box;
    border-radius: 35px;
    width: 135px;
    height: 55px;
    color: #F5170E;
    transition: color, background .5s;
}

.btn:hover{
    color: #fff;
    background: #F5170E;
}

.country__watch{
    font-weight: bold;
}

/* ============================ Новости и акции ==================================================================== */
.stock-news{
    margin-bottom: 145px;
}

.stock-news__main-title{
    display: block;
    font-size: 36px;
    margin-bottom: 50px;
}

.stock-news__list{
    display: flex;
    margin-bottom: 49px;
    justify-content: space-between;
}

.stock-news__item{
    position: relative;
    border-radius: 5px;
    width: 557px;
    min-height: 394px;
    text-align: left;
}

.stock-news__content{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 26px 30px;
    min-height: 168px;
}

.stock-news__date{
    margin-bottom: 12px;
    font-size: 14px;
    font-style: normal;
}

.stock-news__title{
    margin-bottom: 3px;
    font-weight: Bold;
    font-size: 24px;
    font-style: normal;
}

.stock-news__text{
    font-size: 16px;
    font-style: normal;
}
/*========================================= Пагинация ===============================================================*/

.paginator__item--active .paginator__number{
    background: white;
    color: #F5170E;
}

.paginator__number:hover{
    background: white;
    color: #F5170E;
}

/* ============================ О нас ============================================================================== */
.about{
    position: relative;
    margin-bottom: 46px;
    padding-top: 97px;
}

.about__image-content{
    display: block;
    position: relative;
    margin-left: auto;
    width: 785px;
    min-height: 455px;
    background: url(../image/mountains.png) center center / cover no-repeat;
    padding: 76px 202px 66px 77px;
}

.about__photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 490px;
    height: 505px;
}

.about__content{
    top: 73px;
    left: 82px;
}

.about-content__title{
    color: black;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
}

.about-content__text{
    font-size: 16px;
    line-height: 27px;
    color: #000;
    margin-bottom: 43px;
    width: 502px;
}
