.main-content--color--black{
    color: #000;
}

.tour-service__content{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.tour-service__item{
    display: flex;
    margin-bottom: 49px;
    justify-content: space-between;
}

.tour-service__context{
    width: 630px;
    padding-top: 20px;
}

.tour-service__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 29px;
}

.tour-service__image{
    width: 460px;
    height: 333px;
    object-fit: cover;
}
.tour-service__text{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 27px;
}

.tour-service__btn{
    display: inline-block;
    font-size: 14px;
    color: #F5170E;
    border: 1px solid #F5170E;
    box-sizing: border-box;
    border-radius: 35px;
    text-transform: uppercase;
    padding: 18px 40px;
    font-weight: bold;
}

.tour-service__btn:hover{
    color: #fff;
    background: #F5170E;
}

.tour-services .paginator{
    margin-bottom: 65px;
}

.tour-services .paginator__item--active .paginator__number{
    background: #F5170E;
    color: #fff;
}

.tour-services .paginator__number:hover{
    background: #F5170E;
    color: #fff;
}





