.footer-services{
    width: 100%;
    height: 132px;
    background: #001821;
    padding-top: 47px;
}

.footer-service__container{
    display: flex;
}

.footer-service__container .social-list{
    margin-left: auto;
    margin-right: 73px;
}