.partners{
    background: #F4F5F5;
    color: #000;
    padding-top: 104px;
    padding-bottom: 75px;
}

.partners__title{
    margin-bottom: 46px;
    font-size: 48px;
}

.partners__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners__item{
    flex-grow: 1;
    margin-right: 59px;
}

.partners__item:hover{
    filter: grayscale(0%);
}

.partners__item:nth-child(4n + 4){
    margin-right: 0;
}

.partners__item:nth-child(4n + 4) .partners__link{
    justify-content: flex-end;
}

.partners__link{
    display: flex;
    align-items: center;
    height: 128px;
    filter: grayscale(100%);
    transition: filter .3s;
}

.partners__link:hover{
    filter: grayscale(0);
}
