.partners{
    background: #F4F5F5;
    color: #000;
    padding-top: 104px;
    padding-bottom: 75px;
}

.partners__title{
    margin-bottom: 46px;
    font-size: 48px;
}

.partners__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 128px;
}
